@import url('https://fonts.googleapis.com/css?family=Karla')

body
  overflow hidden
  width 100vw
  height 100vh
  background radial-gradient(rgb(236, 235, 240), rgb(165, 170, 190))
  user-select none
  perspective 1000px
  transform-style preserve-3d

#container


.verse
  position absolute
  font-size 24pt
  line-height 1.4
  font-family Karla, sans-serif
  font-weight bold
  width 8em
  color #353129
